.all-tasks {
  grid-area: lists;
}

.list-title {
  font-family: Montserrat;
  font-size: 3rem;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.task-list {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.3;
  list-style: circle;
  padding-left: 1.1em;

  & li {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  & .active-list {
    font-weight: 700;
  }
}

// .list_input {
//   color: var(--color-light);
// }

.list_btn {
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 0.55em;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.todo-list {
  --spacer: 2.5rem;

  grid-area: tasks;
  background: var(--color-light);
  color: var(--color-dark);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.23);
  // border-radius: 5px;
}

.todo-header {
  background: var(--color-text-light);
  padding: var(--spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo_title {
  margin: 0 1em 0 0;
}

.todo_count {
  margin: 0;
  font-size: 1.3rem;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
  user-select: none;

  &::after {
    content: '';
    background: currentColor;
    height: 1.5px;
    position: absolute;
    right: 0;
    bottom: -0.5em;
    left: 0;
    opacity: 0.1;
  }

  & label {
    position: relative;
    display: inline-flex;
    align-items: center;

    &::after {
      content: '';
      background: currentColor;
      height: 3px;
      position: absolute;
      left: 1.5em;
      right: 0;
      top: calc(50% - 1.5px);
      border-radius: 50%;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 150ms ease-in-out;
    }
  }
}

.task_btn {
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 0.55em;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.delete-task {
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  bottom: -39px;
}

.delete {
  transition: color 200ms ease-in-out;

  &:hover {
    color: var(--color-text-light);
  }
}

.delete_list {
  transition: color 200ms ease-in;

  &:hover {
    color: var(--color-error);
  }
}

// CUSTOM CHECKBOX
[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  --custom-size: 0.95em;

  display: inline-block;
  width: var(--custom-size);
  height: var(--custom-size);
  margin-right: var(--custom-size);
  border: 2px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type='checkbox']:focus + label .custom-checkbox {
  color: var(--primary);
  transform: scale(1.3);
}

[type='checkbox']:checked + label .custom-checkbox {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: inset 0 0 0px 3px var(--color-light);
}

[type='checkbox']:checked + label {
  opacity: 0.5;
}

[type='checkbox']:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}
// END CHECKBOX
